table, td, th {
	border-collapse: collapse;
}

table {
	width: 500px;
	table-layout: fixed;
	font-size: 13px;
}

.col {
	width: 90px;
}

th {
	font-weight: normal;
}

th, td {
	border-bottom: 1px solid #e1e1e1;
}

thead th {
	padding: 5px 0;
	border-bottom: 2px solid #000;
}

tbody td {
	height: 40px;
}

.th_view,
.th_rate,
tbody td {
	text-align: right;
}

.th_male,
.th_female {
	background: #f8f8f8;
}