@charset "UTF-8";

table {
    width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 12px;
}
th {
    border: 1px solid #eaedef;
    border-bottom: none;
}
tr {
    border-right: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
}
td {
    border-top: 1px solid #eaedef;
    border-left: 1px solid #eaedef; 
}
th {
    height: 25px;
    color: #777;

}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.inner {
    position: relative;
    height: 80px;
    padding: 5px;
    box-sizing: border-box;
}
.date {
    font-weight: bold;
}
.text {
    display: block;
    font-style: normal;
    margin-top: 3px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.date.dimed {
    color: #e7e7e7;
}
.date.holliday {
    color: #f44e4e;
}
.text.holliday {
    color: #f44e4e;  
}
.text.anniversary {
    color: #00c;
}
.lunar {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 10px;
    color: #bababa;
}
.today {
    border: 1px solid #868686;
    background-color: rgba(255, 255, 217, 0.7);
}