@charset "UTF-8";

table, caption, thead, tbody, th, tr, td, div, span, em {
    margin: 0;
    padding: 0;
}

table {
    width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 12px;
}
th {
    height: 25px;
    color: #777;
}
th, tr, td {
    border: 1px solid #eaedef;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.inner {
    position: relative;
    height: 80px;
    padding: 5px;
    box-sizing: border-box;

}
.date {
    font-weight: bold;
    position: relative;
}
.text {
    display: block;
    font-style: normal;
    margin-top: 3px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.date.dimed {
    color: #e7e7e7;
}
.date.holliday {
    color: #f44e4e;
}
.text.holliday {
    color: #f44e4e;  
}
.text.anniversary {
    color: #00c;
}
.lunar {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 10px;
    color: #bababa;
}
.today .inner:before {
    border: 1px solid #868686;
    background-color: rgba(255, 255, 217, 0.7);
    content:'';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
}